*.pro
CVSROOT/*
addon/*
bin/*
doc/*
examples/*
lib/*
libmd5/*
objects/*
packages/*
qtools/*
src/Makefile
src/Makefile.doxygen
src/Makefile.doxytag
src/Makefile.libdoxycfg
src/Makefile.libdoxygen
src/doxygen.pro
src/doxytag.pro
src/libdoxycfg.pro
src/libdoxygen.pro
src/Makefile.doxygen
src/Makefile.doxytag
src/Makefile.libdoxycfg
src/Makefile.libdoxygen
tmake/*
winbuild/*
.makeconfig
.tmakeconfig
Makefile
Makefile.win_make.in
Makefile.win_nmake.in
VERSION

